* {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  box-sizing: border-box;
  text-shadow: #000 1px 1px;
  font-family: Helvetica;   
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-image: url("./assets/networkImage.jpg");
  background-size: cover;
  background-position: center;
}